/.vs/OIV/v14
/oiv.VC.db
/oiv/Debug
/oiv/Release
/oiv/Intermidiate/
/oiv/oiv.vcxproj.user
/OivTestDotNet/bin/
/OivTestDotNet/obj/
/Debug
/Release
/OIVUtil/Debug
/OIVUtil/Release
/OIViewer/Release
/OIViewer/Debug
/OIVUtil/OIVUtil.vcxproj.user
/OIViewer/OIViewer.vcxproj.user
/OIViewer/x64/Release
/OIViewer/x64/Debug
/OIVOgreRenderer/Debug
/OIVOgreRenderer/Release
/OIVGLRenderer/Debug
/OIVGLRenderer/OIVGLRenderer.vcxproj.user
/OIVOgreRenderer/OIVOgreRenderer.vcxproj.user
/OIViewer/Ogre.log
/OIVGLRenderer/Release
/OIVD3D11Renderer/Debug
/OIVD3D11Renderer/Release/
OIVD3D11Renderer/x64/
OIVOgreRenderer/x64/
oiv/x64/
x64/
