/.vs/OIV/v14
/bin
/OIViewer/OIViewer.vcxproj.user
/OivTestDotNet/obj/
/OivTestDotNet/bin/
/ImageCodec/Codecs/CodecDDS/CodecDDS.vcxproj.user
/ImageCodec/Codecs/CodecFreeImage/CodecFreeImage.vcxproj.user
/ImageCodec/Codecs/CodecJPG/CodecJPG.vcxproj.user
/ImageCodec/ImageLoader/ImageLoader.vcxproj.user
/ImageUtil/ImageUtil.vcxproj.user
/OIVGLRenderer/OIVGLRenderer.vcxproj.user
/oiv.VC.VC.opendb
/oiv.VC.db
/oiv/oiv.vcxproj.user
/.vs