#include "resource.h"

// these are also defined in windows headers Windows.h
#define RT_MANIFEST 24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APP_ICON ICON
#if OIV_OFFICIAL_BUILD == 1 
    "./AppIcons/oivIcon.ico" //Official program icon
#else
    #if OIV_BUILD_TYPE == 0
        "./AppIcons/oivIconDebug.ico" //Debug program icon
    #elif OIV_BUILD_TYPE == 1
        "./AppIcons/oivIconRelease.ico" //Release program icon
    #endif

#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "OIViewerManifest.xml"